@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 260px;
}

/* login */

input:focus{
    outline: none;
}
.signup-container{
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 540px;
}
.signup-text{
    font-size: 18px;
    font-weight: 500;
    color: #606060;
    text-align: center;
    margin-bottom: 50px;
}
.error-message{
    width: 500px;
    text-align: center;
    color: #BC2B2B;
    font-size: 16px;
    position: absolute;
    top: 34px;
}
.signup-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
    height: 60px;
    width: 500px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0 20px;
}
.input::placeholder{
    color: #808080;
    font-family: 'Noto Sans KR', sans-serif;
}
.id-input, .pw1-input{
    margin-bottom: 10px;
}
.nm-input, .pw2-input{
    margin-bottom: 20px;
}
.signup-submit{
    background:url("../images/button-signup@2x.png"); 
    background-position: 0px 0px;
    background-repeat: no-repeat; 
    width: 120px;
    height: 60px;
    border: 0; 
    position: relative;
    left: 380px;
    top: 30px;
    cursor: pointer;
}

.login-guide{
    position: absolute;
    bottom: 0px;
    left: 151px;
    right: 151px;
    text-align: center;
    font-size: 16px;
    color: #606060;
    display: flex;
    justify-content: space-between;
    width: 198px;
}
.login-guide a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #3253BF;
}
.ad-banner{
    margin: 80px auto 50px;
    width: 1280px;
}