<h1>자유 게시판</h1>
{% if user.is_authenticated %}
<a href="{%url 'free_new'%}">자유게시판글쓰기</a>
{% endif %}

<div class="container">
    {% for post in posts %}
    <h1><a href="{% url 'free_detail' post.id%}">{{post.title}}</a></h1>
    날짜{{post.pub_date}}
    본문내용{{post.summary}}
    조회수{{post.update_counter}}
    {%endfor%}
</div>

<div style="text-align:center">
    <div class="pagination">
    
        <div style="width:35%; margin: 5px;">
        {% if posts.has_previous %}
            <a class="abutton" href="?page=1">맨 앞으로</a>
            <a class="abutton" href="?page={{ posts.previous_page_number }}">이전</a>
        {% endif %}
        </div>

        <div style="width:30%; margin: 5px;">
        {% for page in posts.paginator.page_range %}
            {% if page >= posts.number|add:-2 and page <= posts.number|add:2 %}
            <span class="{% if page == posts.number %}current{% endif %}">
                <a href="?page={{ page }}">{{ page}}</a>
            </span>
            {% elif page >= posts.number|add:-3 and page <= posts.number|add:3 %}
                ..
            {% endif %}
        {% endfor %}
        </div>

        <div style="width:35%; margin: 5px;">
        {% if posts.has_next %}
            <a class="abutton" href="?page={{ posts.next_page_number }}">다음</a>
            <a class="abutton" href="?page={{ posts.paginator.num_pages }}">맨 뒤로</a>
        {% endif %}
        </div>
    </div>  
</div> 