{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% endblock %}
</head>
<body>
    <div class="board-bar">
        <a href="{% url 'free_board' %}"><img src="{% static 'images/icon-arrow-right-white@2x.png' %}"></a>
        <span>자유게시판</span>
    </div>
    <div class="post">
        <div class="post-title">{{post_detail.title}}</div>
        <div class="post-info">
            <div class="post-writer">{{post_detail.author.first_name}}</div>
            <div class="post-date"><div>{{post_detail.pub_date | date:'m/d H:i' }}</div></div>
            <div class="post-views">조회수 {{post_detail.update_counter}}</div>
        </div>
        <div class="post-main">{{post_detail.body}}</div>
        <div class="post-btn">
            {% if post_detail.author == user %}
            <a href="{% url 'free_update' post_detail.id %}" class="update-btn"><img src="{% static 'images/Iconly-Light-Edit@2x.png' %}">수정하기</a>
            <a href="{% url 'delete' post_detail.id %}" class="delete-btn"><img src="{% static 'images/Iconly-Light-Delete@2x.png' %}">삭제하기</a>
            {% endif %}
        </div>
    </div>
    <div class="comment-container">
        <div class="comment-stat">댓글 4</div>
        <div class="new-comment">
            <textarea class="new-comment-text" placeholder="댓글 쓰기 ..." maxlength="200"></textarea>
            <input type="submit" class="new-comment-btn" value="등록">
        </div>
        <div class="comments">
            <div class="comment-info">
                <div class="comment-writer">수현도사</div>
                <div class="comment-date">04:50 PM</div>
            </div>
            <div class="comment-text">정답 양배추의 효능 13가지</div>
        </div>
    </div>
    <div class="ad-banner"><img src="{% static 'images/img-sample-banner@2x.png' %}"></div>
</body>
</html>
{% endblock %}

<!--post_detail이란 게시글을 참조하는 코멘트 집합 전체를 순회하도록 만들자-->
{% for comment in post_detail.comment_set.all %}
    <p> {{ comment }} </p>
    <p> {{ comment.date }} </p> <!-- models.py > Comment 클래스 > date 변수 -->
    <hr>
{% endfor %}

<!--댓글-->
<form method="POST" action="{% url 'new_comment' post_detail.id %}">
    {% csrf_token %}
    {{ comment_form  }}
    <input type="submit" value="댓글 입력">
</form>

