{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    {% endblock %}
</head>
<body>
    <div class="board-bar">
        <div class="board-guide">
            <div class="board-name">자유게시판</div>
            <div class="board-text">자유게시판의 건전한 운영과 모든 외대생의 자유로운 의사 표현을 위해 욕설과 비속어 사용을 자제 부탁드리며, 적발시 훕스라이브 사용이 제한될 수 있습니다.</div>
        </div>
        {% if user.is_authenticated %}
        <a href="{%url 'free_new'%}" class="new-post-btn"><img src="{% static 'images/button-write-post@2x.png' %}"></a>
        {% endif %}
    </div>
    <div class="board-info">
        <div class="board-info-title">제목</div>
        <div class="board-info-writer">글쓴이</div>
        <div class="board-info-date">날짜</div>
        <div class="board-info-views">조회수</div>
    </div>
    {% for post in posts %}
    <div class="post">
        <a href="{% url 'free_detail' post.id%}" class="post-detail">
            <div>
                <div class="post-title">{{post.title}}</div>
                <div class="post-main">{{post.summary}}</div>
            </div>
        </a>
        <div class="post-writer">{{post.author.first_name}}</div>
        <div class="post-date"><div>{{post.pub_date | date:'m/d H:i' }}</div></div>
        <div class="post-views">{{post.hits}}</div>
    </div>
    {%endfor%}
    <div class="pagination">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}" class="prev-page"><img src="{% static 'images/icon-arrow-left@2x.png' %}"></a>
        {% else %}
        <a href="#" class="prev-page hidden"><img src="{% static 'images/icon-arrow-left@2x.png' %}"></a>      
        {% endif %}
        <div class="page-number">
            {% for page in posts.paginator.page_range %}
                {% if page >= posts.number|add:-2 and page <= posts.number|add:2 %}
                    <a href="?page={{ page }}" class="{% if page == posts.number %}cur-page{% endif %}">{{ page }}</a>
                {% endif %}
            {% endfor %}
        </div>
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}" class="next-page"><img src="{% static 'images/icon-arrow-right@2x.png' %}"></a>
        {% else %}
        <a href="#" class="next-page hidden"><img src="{% static 'images/icon-arrow-right@2x.png' %}"></a>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}