<h1>졸업생 게시판</h1>
{% if user.is_authenticated %}
<a href="{%url 'graduate_new'%}">졸업생게시판글쓰기</a>
{% endif %}

<div class="container">
    {% for graduate in graduates %}
    <h1><a href="{% url 'graduate_detail' graduate.id%}">{{graduate.title}}</a></h1>
    <p>{{graduate.pub_date}}</p>
    <p>{{graduate.summary}}</p>
    조회수{{graduate.update_counter}}
    {%endfor%}
</div>

<div class="paginator">
    {% if graduates.has_previous %}
    <a href="?page=1">처음</a>
    <a href="?page={{graduates.previous_page_number}}">이전</a>
    {% endif %}
    <span>{{graduates.number}}</span>
    <span>of</span>
    <span>{{graduates.paginator.num_pages}}</span>
    {% if graduates.has_next %}
    <a href="?page={{graduates.next_page_number}}">다음</a>
    <a href="?page={{graduates.paginator.num_pages}}">마지막</a>
    {% endif %}
  </div>