<h1>졸업생 게시판</h1>
{% if user.is_authenticated %}
<a href="{%url 'graduate_new'%}">졸업생게시판글쓰기</a>
{% endif %}

<div class="container">
    {% for graduate in graduates %}
    <h1><a href="{% url 'graduate_detail' graduate.id%}">{{graduate.title}}</a></h1>
    <p>{{graduate.pub_date}}</p>
    <p>{{graduate.summary}}</p>
    조회수{{graduate.update_counter}}
    {%endfor%}
</div>
  
<div style="text-align:center">
    <div class="pagination">
    
        <div style="width:35%; margin: 5px;">
        {% if graduates.has_previous %}
            <a class="abutton" href="?page=1">맨 앞으로</a>
            <a class="abutton" href="?page={{ graduates.previous_page_number }}">이전</a>
        {% endif %}
        </div>

        <div style="width:30%; margin: 5px;">
        {% for page in graduates.paginator.page_range %}
            {% if page >= graduates.number|add:-2 and page <= graduates.number|add:2 %}
            <span class="{% if page == graduates.number %}current{% endif %}">
                <a href="?page={{ page }}">{{ page}}</a>
            </span>
            {% elif page >= graduates.number|add:-3 and page <= graduates.number|add:3 %}
                ..
            {% endif %}
        {% endfor %}
        </div>

        <div style="width:35%; margin: 5px;">
        {% if graduates.has_next %}
            <a class="abutton" href="?page={{ graduates.next_page_number }}">다음</a>
            <a class="abutton" href="?page={{ graduates.paginator.num_pages }}">맨 뒤로</a>
        {% endif %}
        </div>
    </div>  
</div> 