{%load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUFS Live</title>
    <style>
        .top-bar, .nav-bar{text-align: center;}
        .stat{display: flex;}
        .board{
            flex: 1;
            border: 1px solid gray;
            margin: 20px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="top-bar">
        <header>
            <h1>HUFS Live</h1>
        </header>
        {% if user.is_authenticated %}
        <a href="/accounts/logout">로그아웃</a> <br>
        {{user.username}} 님이 로그인 중 <br>
        {% else %}
        <a href="/accounts/signup">회원가입</a> <br>
        <a href = "{% provider_login_url 'google' %}"> 구글 로그인 </a>
        로그인 하세용
        {%endif%}
    </div>
    <div class="nav-bar">
        <nav>            
            <a href="{% url 'free_board' %}">자유 게시판</h4>
            <a href="{% url 'pr_board' %}">홍보 게시판</a>
            <a href="{% url 'information_board' %}">정보 게시판</a>
            <a href="{% url 'graduate_board' %}">졸업생 게시판</a>
        </nav>
        <div class="hotlink">
            <br>
            외부링크 모음 
            <br> 
            <a href="https://www.hufs.ac.kr/" target="_blank">학교홈</a>
            <a href="https://wis.hufs.ac.kr/src08/jsp/index.jsp" target="_blank">종정시</a>
            <a href="https://eclass.hufs.ac.kr/ilos/main/main_form.acl" target="_blank">이클래스</a>
            <a href="https://webs.hufs.ac.kr/jsp/HUFS/seb/listCourseCatalog.jsp?campusGb=H1" target="_blank">수강편람</a>
            <a href="https://library.hufs.ac.kr/#/" target="_blank">도서관</a>
            <a href="https://hufs.everytime.kr/" target="_blank">에브리타임</a>
            <a href="https://wis.hufs.ac.kr/jsp/HUFS/cafeteria/frame_view.jsp" target="_blank">학식</a>
        </div>
    </div>
    <section>
        <div class="stat">
            <div class="board">
                <a href="{% url 'free_board' %}">자유 게시판</h4>
                <a href="{%url 'new'%}">자유게시판글쓰기</a>
                {% for post in posts.all%}
                    <h1><a href="{% url 'detail' post.id%}">{{post.title}}</a></h1>
                    <p>{{post.pub_date}}</p>
                    <p>{{post.summary}} </p>
                {%endfor%}
            </div>
            <div class="board">
                <a href="{% url 'pr_board' %}">홍보 게시판</a>
                <a href="{%url 'pr_new'%}">홍보게시판글쓰기</a> 
                {% for pr in prs.all%}
                    <h1><a href="{% url 'pr_detail' pr.id%}">{{pr.title}}</a></h1>
                    <p>{{pr.pub_date}}</p>
                    <p>{{pr.summary}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="stat">
            <div class="board">
                <a href="{% url 'information_board' %}">정보 게시판</a>
                <a href="{%url 'information_new'%}">정보게시판글쓰기</a> 
                {% for information in informations.all%}
                    <h1><a href="{% url 'information_detail' information.id%}">{{information.title}}</a></h1>
                    <p>{{information.pub_date}}</p>
                    <p>{{information.summary}}</p>
                {%endfor%}
            </div>
            <div class="board" >
                <a href="{% url 'graduate_board' %}">졸업생 게시판</a>
                <a href="{%url 'graduate_new'%}">졸업생게시판글쓰기</a>  
                {% for graduate in graduates.all%}
                    <h1><a href="{% url 'graduate_detail' graduate.id%}">{{graduate.title}}</a></h1>
                    <p>{{graduate.pub_date}}</p>
                    <p>{{graduate.summary}}</p>
                {%endfor%}
            </div>
        </div>
    </section>

    <footer></footer>
    
</body>
</html>