{%load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUFS Live</title>
    <style>
        
    </style>
</head>
<body>
    <header>
        <h1>HUFS Live</h1>
    </header>
    
    <nav>
        <a href="/accounts/signup">회원가입</a> <br>

        {% if user.is_authenticated %}
        <a href="/accounts/logout">로그아웃</a> <br>
        {{user.username}} 님이 로그인 중 <br>
        
        <a href="{%url 'new'%}">자유게시판글쓰기</a> 

        {% else %}
        <a href = "{% provider_login_url 'google' %}"> 구글 로그인 </a>
        로그인 하세용
        {%endif%}
    </nav>
    
    <br>
    외부링크 모음 
    <br>
    <a href="https://www.hufs.ac.kr/" target="_blank">학교홈</a>
    <a href="https://wis.hufs.ac.kr/src08/jsp/index.jsp" target="_blank">종정시</a>
    <a href="https://eclass.hufs.ac.kr/ilos/main/main_form.acl" target="_blank">이클래스</a>
    <a href="https://webs.hufs.ac.kr/jsp/HUFS/seb/listCourseCatalog.jsp?campusGb=H1" target="_blank">수강편람</a>
    <a href="https://library.hufs.ac.kr/#/" target="_blank">도서관</a>
    <a href="https://hufs.everytime.kr/" target="_blank">에브리타임</a>
    <a href="https://wis.hufs.ac.kr/jsp/HUFS/cafeteria/frame_view.jsp" target="_blank">학식</a>

    <section>
        <div>
            <h4>자유 게시판</h4>
            {% for post in posts.all%}
                <h1><a href="{% url 'detail' post.id%}">{{post.title}}</a></h1>
                <p>{{post.pub_date}}</p>
                <p>{{post.summary}} </p>
                <br><br>
            {%endfor%}
            <h4>홍보 게시판</h4>
            {% for pr in prs.all%}
                <h1>{{pr.title}}</h1>
                <p>{{pr.pub_date}}</p>
                <p>{{pr.summary}}</p>
                <br><br>
            {%endfor%}
            <h4>정보 게시판</h4>
            {% for information in informations.all%}
                <h1>{{information.title}}</h1>
                <p>{{information.pub_date}}</p>
                <p>{{information.summary}}</p>
                <br><br>
            {%endfor%}
            <h4>졸업생 게시판</h4>
            {% for graduate in graduates.all%}
                <h1>{{graduate.title}}</h1>
                <p>{{graduate.pub_date}}</p>
                <p>{{graduate.summary}}</p>
                <br><br>
            {%endfor%}
    </section>

    <footer></footer>
    
</body>
</html>