{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% endblock %}
</head>
<body>
    <div class="ad-banner">
        <div class="ad-img"><img src="{% static 'images/ad-banner.png' %}"></div>
        <div class="ad-btn">
            <button type="button" class="left-arrow"><img src="{% static 'images/icon-hero-arrow-left@2x.png' %}"></button>
            <button type="button" class="right-arrow"><img src="{% static 'images/icon-hero-arrow-right@2x.png' %}"></button>
        </div>
    </div>
    <div class="nav-bar2">
        <div class="hotlink">
            <a href="https://www.hufs.ac.kr/" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">학교홈</a>
            <a href="https://eclass.hufs.ac.kr/ilos/main/main_form.acl" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">e-class</a>
            <a href="https://wis.hufs.ac.kr/src08/jsp/index.jsp" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">종정시</a>
            <a href="http://haksa.hufs.ac.kr" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">학종지</a>
            <a href="#" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">학사공지</a>
            <a href="https://webs.hufs.ac.kr/jsp/HUFS/seb/listCourseCatalog.jsp?campusGb=H1" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">수강편람</a>
            <a href="https://library.hufs.ac.kr/#/" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">도서관</a>
            <a href="https://hufs.everytime.kr/" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">에브리타임</a>
            <a href="https://wis.hufs.ac.kr/jsp/HUFS/cafeteria/frame_view.jsp" target="_blank"><img src="{% static 'images/icon-hotlink-button@2x.png' %}">학식</a>
        </div>
    </div>
    <article>
        <div class="stat">
            <div class="board">
                <div class="board-btn"><a href="{% url 'free_board' %}"><div>자유게시판</div><img src="{% static 'images/keyboard-arrow-down-24px@2x.png' %}"></a></div>
                {% for post in posts.all %}
                <a href="{% url 'free_detail' post.id%}" class="post">
                    <div class="post-detail1">
                        <div class="post-title">{{post.title}}</div>
                        <div class="post-date">{{post.pub_date | date:'m/d H:i' }}</div>
                    </div>
                    <div class="post-main">{{post.summary}}</div>
                    <div class="post-detail2">
                        <div class="profile">
                            <img src="{% static 'images/img-sample-user-profile@2x.png' %}" class="profile-img">
                            <div class="profile-name">{{post.author}}</div>
                        </div>
                        <div class="post-stat">조회수 {{post.update_counter}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="board">
                <div class="board-btn"><a href="{% url 'pr_board' %}"><div>홍보게시판</div><img src="{% static 'images/keyboard-arrow-down-24px@2x.png' %}"></a></div>
                {% for pr in prs.all %}
                <a href="{% url 'pr_detail' pr.id%}" class="post">
                    <div class="post-detail1">
                        <div class="post-title">{{pr.title}}</div>
                        <div class="post-date">{{pr.pub_date | date:'m/d H:i' }}</div>
                    </div>
                    <div class="post-main">{{pr.summary}}</div>
                    <div class="post-detail2">
                        <div class="profile">
                            <img src="{% static 'images/img-sample-user-profile@2x.png' %}" class="profile-img">
                            <div class="profile-name">{{pr.author}}</div>
                        </div>
                        <div class="post-stat">조회수 {{pr.update_counter}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="stat">
            <div class="board">
                <div class="board-btn"><a href="{% url 'information_board' %}"><div>정보게시판</div><img src="{% static 'images/keyboard-arrow-down-24px@2x.png' %}"></a></div>
                {% for information in informations.all %}
                <a href="{% url 'information_detail' information.id%}" class="post">
                    <div class="post-detail1">
                        <div class="post-title">{{information.title}}</div>
                        <div class="post-date">{{information.pub_date | date:'m/d H:i' }}</div>
                    </div>
                    <div class="post-main">{{information.summary}}</div>
                    <div class="post-detail2">
                        <div class="profile">
                            <img src="{% static 'images/img-sample-user-profile@2x.png' %}" class="profile-img">
                            <div class="profile-name">{{information.author}}</div>
                        </div>
                        <div class="post-stat">조회수 {{information.update_counter}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="board">
                <div class="board-btn"><a href="{% url 'graduate_board' %}"><div>졸업생게시판</div><img src="{% static 'images/keyboard-arrow-down-24px@2x.png' %}"></a></div>
                {% for graduate in graduates.all %}
                <a href="{% url 'graduate_detail' graduate.id%}" class="post">
                    <div class="post-detail1">
                        <div class="post-title">{{graduate.title}}</div>
                        <div class="post-date">{{graduate.pub_date | date:'m/d H:i' }}</div>
                    </div>
                    <div class="post-main">{{graduate.summary}}</div>
                    <div class="post-detail2">
                        <div class="profile">
                            <img src="{% static 'images/img-sample-user-profile@2x.png' %}" class="profile-img">
                            <div class="profile-name">{{graduate.author}}</div>
                        </div>
                        <div class="post-stat">조회수 {{graduate.update_counter}}</div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </article>
    <div class="ad-container">
        <div>
            <img src="{% static 'images/img-sample-banner1@2x.png' %}">
            <img src="{% static 'images/img-sample-banner2@2x.png' %}">
            <img src="{% static 'images/img-sample-banner3@2x.png' %}">
            <img src="{% static 'images/img-sample-banner4@2x.png' %}">
        </div>
    </div>
</body>
</html>
{% endblock %}