{{user.first_name}}님 안녕하세용

<div>
    <h3>내가 쓴 글<h3>
    <div>
        {% for post in posts %}
        {% if post.author == user %}
        <h4>자유게시판</h4>
        <a href="{% url 'free_detail' post.id%}" class="post">
            <div class="post-detail1">
                <div class="post-title">{{post.title}}</div>
                <div class="post-date">{{post.pub_date | date:'m/d H:i' }}</div>
            </div>
            <div class="post-main">{{post.summary}}</div>
            <div class="post-detail2">
                <div class="profile-name">{{post.author.first_name}}</div>
                <div class="post-stat">조회수 {{post.update_counter}}</div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        <div class="container">
            {#First Previous#}
            {%if posts.has_previous%}
            <a href="?page1={{posts.previous_page_number}}">Previous</a>
            {%endif%}
            {# Next Last #}
            {%if posts.has_next%}
            <a href="?page1={{posts.next_page_number}}">Next</a>
            {%endif%}   
        </div>
    </div>
    <div>
        {% for pr in prs %}
        {% if pr.author == user %}
        <h4>홍보게시판</h4>
        <a href="{% url 'pr_detail' pr.id%}" class="post">
            <div class="post-detail1">
                <div class="post-title">{{pr.title}}</div>
                <div class="post-date">{{pr.pub_date | date:'m/d H:i' }}</div>
            </div>
            <div class="post-main">{{pr.summary}}</div>
            <div class="post-detail2">
                <div class="profile-name">{{pr.author.first_name}}</div>
                <div class="post-stat">조회수 {{pr.update_counter}}</div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        <div class="container">
            {#First Previous#}
            {%if prs.has_previous%}
            <a href="?page2={{prs.previous_page_number}}">Previous</a>
            {%endif%}
            {# Next Last #}
            {%if prs.has_next%}
            <a href="?page2={{prs.next_page_number}}">Next</a>
            {%endif%}   
        </div>
    </div>
    <div>
        {% for information in informations %}
        {% if information.author == user %}
        <h4>정보게시판</h4>
        <a href="{% url 'information_detail' information.id%}" class="post">
            <div class="post-detail1">
                <div class="post-title">{{information.title}}</div>
                <div class="post-date">{{information.pub_date | date:'m/d H:i' }}</div>
            </div>
            <div class="post-main">{{information.summary}}</div>
            <div class="post-detail2">
                <div class="profile-name">{{information.author.first_name}}</div>
                <div class="post-stat">조회수 {{information.update_counter}}</div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        <div class="container">
            {#First Previous#}
            {%if informations.has_previous%}
            <a href="?page3={{informations.previous_page_number}}">Previous</a>
            {%endif%}
            {# Next Last #}
            {%if informations.has_next%}
            <a href="?page3={{informations.next_page_number}}">Next</a>
            {%endif%}   
        </div>
    </div>
    <div>
        {% for graduate in graduates %}
        {% if graduate.author == user %}
        <h4>졸업생게시판</h4>
        <a href="{% url 'graduate_detail' graduate.id%}" class="post">
            <div class="post-detail1">
                <div class="post-title">{{graduate.title}}</div>
                <div class="post-date">{{graduate.pub_date | date:'m/d H:i' }}</div>
            </div>
            <div class="post-main">{{graduate.summary}}</div>
            <div class="post-detail2">
                <div class="profile-name">{{graduate.author.first_name}}</div>
                <div class="post-stat">조회수 {{graduate.update_counter}}</div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        <div class="container">
            {#First Previous#}
            {%if graduates.has_previous%}
            <a href="?page4={{graduates.previous_page_number}}">Previous</a>
            {%endif%}
            {# Next Last #}
            {%if graduates.has_next%}
            <a href="?page4={{graduates.next_page_number}}">Next</a>
            {%endif%}   
        </div>
    </div>
</div>

<a href="{%url 'home'%}">홈으로</a>