<h1>홍보 게시판</h1>
{% if user.is_authenticated %}
<a href="{%url 'pr_new'%}">홍보게시판글쓰기</a>
{% endif %}

<div class="container">
    {% for pr in prs %}
    <h1><a href="{% url 'pr_detail' pr.id%}">{{pr.title}}</a></h1>
    <p>{{pr.pub_date}}</p>
    <p>{{pr.summary}}</p>
    {%endfor%}
</div>

<div class="paginator">
    {% if prs.has_previous %}
    <a href="?page=1">처음</a>
    <a href="?page={{prs.previous_page_number}}">이전</a>
    {% endif %}
    <span>{{prs.number}}</span>
    <span>of</span>
    <span>{{prs.paginator.num_pages}}</span>
    {% if prs.has_next %}
    <a href="?page={{prs.next_page_number}}">다음</a>
    <a href="?page={{prs.paginator.num_pages}}">마지막</a>
    {% endif %}
  </div>