{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    {% endblock %}
</head>
<body>
    <div class="board-bar">
        <a href="javascript:history.back();"><img src="{% static 'images/icon-arrow-right-white@2x.png' %}"></a>
        <span>홍보게시판</span>
    </div>
    <div class="post">
        <div class="post-title">{{pr_detail.title}}</div>
        <div class="post-info">
            <div class="post-writer">{{pr_detail.author.first_name}}</div>
            <div class="post-date"><div>{{pr_detail.pub_date | date:'m/d H:i' }}</div></div>
            <div class="post-views">조회수 {{pr_detail.hits}}</div>
        </div>
        <div class="post-main">{{pr_detail.body}}</div>
        <div class="post-btn">
            {% if pr_detail.author == user %}
            <a href="{% url 'pr_update' pr_detail.id %}" class="update-btn"><img src="{% static 'images/Iconly-Light-Edit@2x.png' %}">수정하기</a>
            <a href="{% url 'pr_delete' pr_detail.id %}" class="delete-btn" onclick="if(!confirm('게시글을 삭제하시겠습니까?')){return false;}"><img src="{% static 'images/Iconly-Light-Delete@2x.png' %}">삭제하기</a>
            {% endif %}
        </div>
    </div>
    <div class="comment-container">
        <div class="comment-stat">댓글</div>
        {% if user.is_authenticated %}
        <div class="new-comment">
            <textarea class="new-comment-text" placeholder="댓글 쓰기 ..." maxlength="200"></textarea>
            <input type="submit" class="new-comment-btn" value="등록">
        </div>
        {% endif%}
     

        {% for comment in comments %}
        <div class="comments">
            <div class="comment-info">
                <div class="comment-writer">익명의 부엉이</div>
                <div class="comment-date">{{ comment.date | date:'m/d H:i' }}</div>
            </div>    
            <div class="comment-text">{{ comment }}</div>
        </div>    
        {% endfor %}
    </div>
    <dlv class="ad-banner"><img src="{% static 'images/img-sample-banner@2x.png' %}"></dlv>
</body>
</html>
{% endblock %}